.carousel-caption {
	bottom: 30%;
}

.about-content  .fas { font-size:35px;} 
	
	
	
}

.getting{
	background:url(../image/1.jpg);
	height:1920px;
	width:1080px;
	background-size:cover;
}